:root {
  --font-family: "Roboto";
  --second-family: "Bad Script";
  --general-text:  #121212;
  --color-text: #7d7d7d;
  --color-main: #514a7e;
  --color-bg: #fffdf5;
}
html {
  scroll-behavior: smooth;
}
body {
    font-family: var(--font-family);
    line-height: 1.18;
    color: var(--color-text);
    background: var(--color-bg);
}
.wrapper {
  min-height: 100%;
  width: 100%;
  overflow: hidden;
  display: flex;
  flex-direction: column;
}
.container {
  max-width: 1200px;
  margin: 0 auto;
  padding: 0 15px;
  height: 100%;
}
.header__top {
  padding: 49px 0 50px;
}
.header__hero {
  position: relative;
  margin-bottom: 150px;
}
.about {
  max-height: 365px;
  margin-bottom: 128px;
}
.gallery,
.testimonials {
  margin-bottom: 150px;
}
.testimonials {
  position: relative;
}
.questions {
}
.title {
  font-weight: 300;
  font-size: 40px;
  line-height: 0.87305;
  color: var(--general-text);
}
.button {
  width: 109px;
  height: 26px;
  border: 0.50px solid var(--color-main);
  background: transparent;
  font-weight: 400;
  font-size: 14px;
  color: var(--general-text);
}
.button:hover {
  box-shadow: 0 4px 10px 0 rgba(81, 74, 126, 0.4);
  background: var(--color-main);
  color: var(--color-bg);
  transition: all 0.3s;
}
.closed {
  width: 47px;
  height: 47px;
  border-radius: 100%;
  background: var(--color-main);
  display: flex;
  align-items: center;
  justify-content: center;
  box-shadow: 0 4px 10px 0 rgba(81, 74, 126, 0.4);
  transition: all 0.2s;
}
.closed:hover {
  width: 56px;
  height: 56px;
}
.closed svg {
  transition: all 0.2s;
}
.closed:hover svg {
  width: 23.83px;
  height: 23.83px;
}
.circle {
  width: 429px;
  height: 429px;
  border: 1px solid var(--color-main);
  border-radius: 100%;
  transform: translateX(-50%);
}
/* ============================= */

.header__top-inner {
  display: flex;
  justify-content: space-between;
  height: 36px;
}
.header__top-menu {
  margin-right: 15px;
}
.header__top-menu-img {
}
.header__top-active {
  display: flex;
  justify-content: space-between;
  width: 476px;
  padding: 5px 0 10px;
  position: relative;
}
.header__search {
  display: flex;
  margin-right: 15px;
  
}
.header__search-button {
  margin-right: 19px;
  background: transparent;
}
.search-header {
}
.search-header input {
  border-bottom: 0.5px solid var(--color-text);
  background: transparent;
  width: 308px;
}
.header__nav {
position: relative;
}
.header__nav-list {
  display: flex;
  gap: 15px;

}
.header__nav-item {
}
.header__nav-img {
  display: block;
  width: 100%;
  height: 100%;
}
.header__nav-active {
  width: 211px;
  height: 239px;
  box-shadow: 0 4px 20px 0 rgba(51, 51, 51, 0.05);
  background: var(--color-bg);
  position: absolute;
  top: 49px;
  right: 0;
  z-index: 1;
  display: none;
}
.nav-active__avatar {
  margin: 18px auto 15px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 15px;
}
.nav-active__photo {
  background: #c4c4c4;
  border-radius: 100%;
  width: 39px;
  height: 39px;
}

.nav-active__list {
  display: flex;
  flex-direction: column;
  gap: 15px;
}
.nav-active__item {
  margin: 0 24px;
  font-weight: 300;
  font-size: 12px;
  color: var(--general-text);
}
.nav-active__item:nth-child(8) {
  margin-bottom: -5px;
}
.nav-active__item:hover {
  font-weight: 400;
  font-size: 14px;
  color: var(--color-main);
  transition: all 0.2s;
}
.nav-active__link {
  display: flex;
  gap: 11px;
  height: 20px;
  width: auto;
  align-items: center;
}
.nav-active__item:first-child .nav-active__link {
  align-items: flex-end;
}
.nav__item-line {
  border: 0.50px solid var(--color-text);
  width: 211px;
  height: 0px;
}
.header__enter {
  width: 901px;
  height: 463px;
  z-index: 1;
  background: var(--color-bg);
  position: absolute;
  top: -48px;
  left: -829px;
  padding: 84px 113px;
  display: flex;
  flex-direction: column;
  overflow: hidden;
  visibility: hidden;
}
.header__enter-title {
  position: relative;
  margin-top: 53px;
  font-weight: 300;
  font-size: 40px;
  line-height: 0.87305;
  color: var(--general-text);
  margin-bottom: 60px;
}
.header__enter-closed {
  position: absolute;
  top: 85px;
  right: 113px; 
}

.header__enter-form {
  max-width: 372px;
  margin-bottom: 23px;
}
.header__enter-input {
  display: flex;
  flex-direction: column;
  gap: 31px; 
}
.header__enter-input input {
  background: transparent;
  border-bottom: 0.50px solid var(--color-text);
  font-weight: 300;
font-size: 16px;
}

.header__enter-errorpass {
  margin-bottom: 25px;
  font-weight: 300;
font-size: 16px;
color: var(--color-main);
}
.header__enter-btns {
  display: flex;
  gap: 46px;
}
.header__enter-btn {
  width: 149px;
  height: 37px;
  flex-shrink: 0;
  display: flex;
  align-items: center;
  justify-content: center;
}
.header__enter-circle {
  width: 429px;
  height: 429px;
  border: 1px solid var(--color-main);
  border-radius: 100%;
  position: absolute;
  top: 100%;
  transform: translateY(-50%);
  left: 733px;
}
.header__login {
  width: 211px;
  height: 381px;
  position: absolute;
  right: 114px;
  z-index: 1;
  box-shadow: 0 4px 20px 0 rgba(51, 51, 51, 0.05);
  background: var(--color-bg);
  visibility: hidden;
}
.nav-active__avatar-login {
  gap: 6px;
}
.nav-active__name {
  font-weight: 400;
  font-size: 14px;
  color: var(--general-text);
}
.nav-active__list {
}
.nav-active__item {
}
.nav-active__link {
}

/* ====================================== */

.hero__img {
  position: relative;
  margin-bottom: 60px;
}
.hero__img img {
  filter: drop-shadow(0 4px 10px rgba(81, 74, 126, 0.4));
}
.hero__img-1 {
}
.hero__img-2 {
  position: absolute;
  top: 0;
  right: 0;
}
.hero__content {
}
.hero__title {
  max-width: 537px;
  height: 114px;
font-weight: 300;
font-size: 60px;
line-height: 0.87305;
color: var(--general-text);
margin-bottom: 60px;
}
.hero__title span {
  font-family: var(--second-family);
  font-weight: 400;
  line-height: 1.6;
  color: var(--color-main);
}
.hero__text {
  max-width: 249px;
  font-weight: 300;
font-size: 16px;
}
.hero__btn {
  width: 193px;
  height: 193px;
  background: transparent;
  border: 1px solid var(--color-main);
  border-radius: 100%;
  font-weight: 400;
font-size: 20px;
color: var(--color-main);
position: relative;
padding: 72px 77px 96px 32px;
margin: 0 auto;
display: block;
box-shadow: 0 4px 4px 0 rgba(0, 0, 0, 0.25);
}
.hero__btn svg {
  position: absolute;
  bottom: 80px;
  right: 37px;
}
.hero__btn:hover,
.hero__btn:hover path {
  background: var(--color-main);
  color: var(--color-bg);
  fill: var(--color-bg);
  transition: all 0.3s;
}

.hero__circle {
  position: absolute;
  top: 636px;
  left: 100%;
}

/* ================================== */

.about__title {
margin-bottom: 94px;
}
.about__body {
  display: grid;
  grid-template: repeat(2, auto) / repeat(4, 1fr);
  gap: 98px 100px;
  max-width: 1029px;
  font-weight: 300;
  font-size: 14px;
}
.about__body-item {
  position: relative;
}
.about__body-item:nth-child(5) {
  grid-column: 1/3;
  max-width: 184px;
  justify-self: center;
}
.about__body-item:nth-child(6) {
  grid-column: 3/5;
  max-width: 184px;
  justify-self: center;
}
.about__body-item:first-child::after {
  content: "";
  display: block;
  width: 28px;
  height: 28px;
  border-radius: 100%;
  background: var(--color-main);
  box-shadow: 0 4px 10px 0 rgba(81, 74, 126, 0.4);
  position: absolute;
  top: 58%;
  left: 60%;
}
.about__body-item:nth-child(3)::after {
  content: "";
  display: block;
  width: 47px;
  height: 47px;
  border-radius: 100%;
  background: var(--color-main);
  box-shadow: 0 4px 10px 0 rgba(81, 74, 126, 0.4);
  position: absolute;
  top: -90%;
  left: 92%;
}
.about__body-item:nth-child(5)::after {
  content: "";
  display: block;
  width: 47px;
  height: 47px;
  border-radius: 100%;
  background: var(--color-main);
  box-shadow: 0 4px 10px 0 rgba(81, 74, 126, 0.4);
  position: absolute;
  top: 50%;
  left: 85%;
}
.about__body-item:nth-child(6)::after {
  content: "";
  display: block;
  width: 28px;
  height: 28px;
  border-radius: 100%;
  background: var(--color-main);
  box-shadow: 0 4px 10px 0 rgba(81, 74, 126, 0.4);
  position: absolute;
  top: -30%;
  left: 90%;
}

.about__btns {
  display: flex;
  justify-content: space-between;
}
.about__btn-up,
.about__btn-chat {
  width: 72px;
  height: 72px;
  border-radius: 100%;
  background: var(--color-main);
  display: flex;
  align-items: center;
  justify-content: center;
  box-shadow: 0 4px 10px 0 rgba(81, 74, 126, 0.4);
  transition: all 0.2s;
}
.about__btn-up:hover,
.about__btn-chat:hover {
  width: 82px;
  height: 82px;
}
.about__btn-up svg {
  transition: all 0.2s;
}
.about__btn-up:hover svg {
  width: 10px;
  height: 30px;
}
.about__btn-chat svg {
  transition: all 0.2s;
}
.about__btn-chat:hover svg {
  width: 41px;
  height: 41px;
}
/* ================================== */


.gallery__title {
  margin-bottom: 91px;
  position: relative;
}
.gallery__title span {
  font-family: var(--second-family);
  font-weight: 400;
  font-size: 40px;
  line-height: 0.87305;
  color: var(--color-main);
  position: absolute;
  top: 100%;
  left: 23%;
}
.gallery__slider {
  width: 1362px;
  padding-left: 10px;
  position: relative;
  transform: translateX(-10px);
}

.gallery__wrapper {
}

.gallery__slide-img {
  max-width: 278px;
  max-height: 319px;
  box-shadow: 0 4px 10px 0 rgba(81, 74, 126, 0.2);
  margin-bottom: 13px;
  overflow: hidden;
  display: flex;
  justify-content: center;
  align-items: center;
}
.gallery__slide-img img {
  height: 100%;
}

.gallery__content {
  display: grid;
  grid-template-columns: 1fr 0.4fr;
}

.gallery__content-item:nth-child(2) {
  display: flex;
  gap: 15px;
  justify-content: end;
  align-items: center;
}
.gallery__content-item:last-child {
  display: flex;
  gap: 5px;
  justify-content: end;
  align-items: flex-end;
}
.gallery__price {
  font-weight: 400;
  font-size: 14px;
  color: var(--general-text);
  margin-bottom: 13px;
}
.gallery__price span {
  font-weight: 300;
  font-size: 12px;
  color: var(--color-text);
  margin-left: 23px;
  position: relative;
  transform: translateY(-50%);
}
.gallery__price span::after {
  content: "";
  border: 0.50px solid var(--color-main);
  width: 62px;
  height: 0px;
  position: absolute;
  top: 50%;
  left: -11px;
}
.gallery__text {
  font-weight: 400;
  font-size: 12px;
  margin-bottom: 13px;
}
.gallery__content-btn {
  border: 0.5px solid var(--general-text);
  width: 148px;
  height: 37px;
  display: flex;
  gap: 13px;
  justify-content: end;
  align-items: center;
  padding: 10px 13px 12px 0;
}
.gallery__content-btn:hover {
  border: 0.5px solid var(--color-main);
}
.gallery__content-btn:hover path {
  fill: var(--color-bg);
}

.gallery__content-link {
  display: flex;
  justify-content: center;
  align-items: flex-end;
}
.gallery__content-stars {
}
.gallery__nav {
  width: 1305px;
  display: flex;
  justify-content: space-between;
  position: absolute;
  top: 272px;
  z-index: 1;
}
.gallery__prev svg {
  transform: rotate(180deg);
}
.gallery__prev,
.gallery__next {
  cursor: pointer;
  width: 85px;
  height: 47px;
  background: var(--color-bg);
}

.gallery__next {
}
.swiper-button-disabled.gallery__prev,
.swiper-button-disabled.gallery__next {
visibility: hidden;
}
/* ========================================= */

.testimonials__title {
  margin-bottom: 60px;
}

.testimonials__slider {
  width: 1050px;
  height: 225px;
  margin: 0 0 20px;
  padding: 10px;
  transform: translateX(-10px);
}

.testimonials__wrapper {
}

.testimonials__slide {
  width: 459px;
  height: 204px;
  box-shadow: 0 4px 20px 0 rgba(0, 0, 0, 0.05);
  background: var(--color-bg);
  padding: 47px 29px 35px 24px;
  display: flex;
  gap: 49px;
}

.testimonials__slide-img {
  width: 94px;
  height: 94px;
  border-radius: 100%;
  box-shadow: 0 4px 10px 0 rgba(81, 74, 126, 0.4);
  overflow: hidden;
  flex-shrink: 0;
}
.testimonials__slide-img img {
  width: 100%;
}
.testimonials__content {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}
.testimonials__stars {
  transform: translateY(-10px);
}
.testimonials__text {
  width: 263px;
  height: 70px;
  font-weight: 300;
  font-size: 12px;
  line-height: 1.7;
  color: var(--color-text);
  margin-bottom: 12px;
}
.testimonials__user {
  display: flex;
  justify-content: space-between;
  align-items: end;
  font-weight: 400;
  font-size: 12px;
  line-height: 1.7;
  color: var(--general-text);
}
.testimonials__date {
  color: var(--color-main);
}
.testimonials__nav {
  width: 1100px;
  display: flex;
  justify-content: space-between;
  position: absolute;
  top: 165px;
  right: 94px;
  z-index: 1; 
}
.testimonials__next,
.testimonials__prev {
  width: 92px;
  height: 92px;
  background: transparent;
  border: 1px solid var(--color-main);
  border-radius: 100%;
}

.testimonials__prev {
visibility: hidden;
}
.testimonials-btn {
  width: 148px;
  height: 37px;
}
.testimonials__circle {
  position: absolute;
  top: 82%;
  right: -35%;
}
/* ============================================ */


.questions__title {
  margin-bottom: 91px;
  position: relative;
}
.questions__title span {
  font-family: var(--second-family);
  font-weight: 400;
  font-size: 40px;
  line-height: 0.87305;
  color: var(--color-main);
  position: absolute;
  top: 100%;
  left: 47%;
}


.questions__content {
}
.accordion-list {
}
.accordion-list__item {
  margin-bottom: 19px;
  font-weight: 300;
  font-size: 16px;
}
.accordion-list__item:last-child {
  margin-bottom: 0;
}
.accordion-list__item--opened .accordion-list__control svg {
  transform: rotate(45deg);
}
.accordion-list__control {
  width: 100%;
  display: flex;
  justify-content: space-between;
  align-items: center;
  background: transparent;
  border-bottom: 0.5px solid var(--color-text);
  padding-bottom: 18px;
}
.accordion-list__title {
  font-weight: 400;
font-size: 20px;
color: var(--general-text);
}
.accordion-list__content {
max-height: 0;
overflow: hidden;
transition: all 0.2s;
}
.accordion-list__item--opened .accordion-list__control {
  border-bottom: none;
  padding-bottom: 40px;
}
